@media (min-width:1400px) and (max-width: 1600px) {
    .container {
        max-width: 1240px;
    }

    .card {
        min-width: 350px;
    }

    .formBlock {
        padding: 40px;
    }

    .formBlock__block {
        max-width: 480px;
    }

    .formBlock__title {
        font-size: 28px;
    }

    .formBlock__descr {
        font-size: 12px;
    }

    .formBlock__descr {
        margin-bottom: 10px;
    }

    .formBtn {
        width: max-content;
    }

    .formBlock::after {
        width: 37%;
    }

    .implementation__fItem  {
        font-size: 14px;
    }
}

@media (max-width:1399px) {
    .container {
        max-width: 1100px;
    }

    .contact-form {
        width: 60%;
    }
}

@media (max-width:1199px) {
    .container {
        max-width: 960px;
    }

    .headerBotom__item {
        font-size: 11px;
    }

    .headerBotom__btn {
        font-size: 11px;
        padding: 20px 5px;
    }

    .card {
        width: 350px;
    }

    .formBlock::after {
        display: none;
    }

    .implementation__fItem  {
        font-size: 12px;
    }

    .iTitle {
        font-size: 12px;
    }

    .iDescr {
        font-size: 12px;
    }

    .contact-form {
        width: 80%;
    }
}


    @media (max-width: 991px) {
        .headerBotom__item {
            font-size: 10px;
        }

        .headerBotom__btn {
            font-size: 10px;
        }

        .headerTop__img {
            max-width: 180px;
        }

        .headerTopRight__local, .headerTopRight__phone, .headerTopRight__span {
            font-size: 10px;
        }

        .headerTopRight__text {
            margin-right: 20px;
        }

        .headerTopRight__local,
        .socialIcon__list {
            margin-right: 10px;
        }

        .card {
            width: 300px;
        }

        .formBtn {
            padding: 15px 45px;
            width: max-content;
        }

        .implementation__fItem {
            font-size: 10px;
        }

        .iTitle {
            font-size: 10px;
        }

        .iDescr {
            font-size: 10px;
        }

    }